.detail {
  border: 2px solid black;
  width: 370;
  //   margin: 55px 80px;
  margin-inline: auto;
  margin-top: 120px;
  padding: 10px;
}
.btn {
  background: #758cff;
  color: white;
  padding: 6px;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
}
.content {
  p {
    padding: 5px;
  }
  border-bottom: 1px solid black;
}
