.btn {
  width: 150;
  height: 40;
  border: none;
  border-radius: 8px;
  padding: 5px;
  background: #f47373;
  color: white;
  position: absolute;
  top: 165px;
  font-weight: 700;
  font-size: 17px;
}
